.search {
  height: 2rem;
  width: 14rem;
  border-radius: 5px;
  background-color: whitesmoke;
  border: 0;
}

.search-btn {
  height:2.6rem;
  border: 0;
  width: 2rem;
  border-radius: 0 5px 5px 0;
  color: whitesmoke;
  background-color: #c63034;
}

.form {
  height: 2.6rem;
  border-radius: 5px;
  padding-left: .3rem;
  background-color: #c63034;
}