.latest-news {
  padding: 0 3rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

}

.header {
  color: #B20710;
  background-color: aqua;
  display: flex;
  padding: 0 2rem;
}

.h2 {
  margin: 1rem 3rem;
}