.header {
  color: white;
  background-color: black;
  display: flex;
  padding: 0 3rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  background-color: #c63034;
  transition-duration: .5s;
  border: 1px #c63034 solid;
  padding: .5rem;
  border-radius: 5px;

  &:hover {
    border-color:whitesmoke;
  }
}