body {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

@media screen and (max-width: 660px) {
  .news-grid {
    grid-template-columns: 1fr;
  }

  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form {
    margin: 0 1rem 1rem;
  }

  .article-body {
    width: 90vw;

  }

  .page {
    display: flex;
    justify-content: center;
  }

}
